.account-creation {
    height: 100%;

    &__background {
        @include bg-cover("../../src/assets/images/statue-of-liberty-welcome-to-new-york 1.png");
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-self: center;
        width: $mobile-small-width;
        padding: 40px;
        background: $color-background;
        border-radius: 10px;
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
    }


    &__title {
        margin-bottom: 20px;
    }

    &__text {
        margin-bottom: 45px;
    }

    &__link {
        color: $color-primary;
        @include font($size: inherit, $weight: 600);
        text-decoration: none;
    }

    &__button {
        width: 100%;
    }

}

input {
    height: 30px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 10px 20px rgba(0, 0, 0, 0.04);
    width: 100%;
    margin-bottom: 30px;

    &:focus {
        outline: none;
    }
}