
$btn-color: #EC615B;
$bg-color: #e4e4e4;

body {
  font-family: 'Montserrat', sans-serif;
}

.app-wrapper {
  padding: 20px 40px 40px 40px;
}

.controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.game__main {
  width: 751px;
  margin: auto;
}

.game__board {
  display: flex;
  width: 100%;
  height: 400px;
  margin: 20px auto;
}

.board {
  width: 100%;
  height: 100%;
  background-color: $bg-color;
}

.board__column-numbers {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 40px;
}

.number {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border: 1px solid #ccc;
  border-radius: 50%;
}

.game__puzzles {
  display: grid;
  height: 40px;
  width: calc(100% - 40px);
  margin-left: 40px;
  margin-bottom: 20px;
  box-shadow: 0 0 5px rgba(0,0,0,.7);
}

.tooltips {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.game__controls {
  display: flex;
  justify-content: center;
}


.game__jigsaw {
  position: relative;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  height: 100%;
  cursor: pointer;
  background-color: #ccc;
  &:not(:last-child) {
    margin-right: 5px;
  }
//   &:not(:last-child):after {
//     position: absolute;
//     right: -10px;
//     z-index: 2;
//     width: 20px;
//     height: 20px;
//     content: "";
//     border-radius: 50%;
//     background-color: #ccc;
//   }
//   &:not(:first-child):before {
//     position: absolute;
//     left: -10px;
//     z-index: 1;
//     width: 20px;
//     height: 20px;
//     content: "";
//     border-radius: 50%;
//     background-color: #fff;
// }
}

.game__jigsaw--correct {
  background-color: rgb(19, 168, 94);
}

.game__jigsaw--wrong {
  background-color: rgb(185, 58, 26);
}

.board__line {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 2px;
  // display: flex;
  // width: 100%;
  height: 40px;
  background-color: rgb(168, 130, 130);
}

.board__line--active {
  box-shadow: 0px 0px 5px black;
}

.puzzle-container {
  height: calc(100% - 2px);
  width: 100%;
  background-color: tomato;
  margin: 1px;
}

.hovered {
  background-color: #d1d8e2;
}

.hide {
  display: none;
}
