// @font-face {
//   font-family: Montserrat;
//   /*src: url("fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");*/
// }

.savannah__wrapper {
	margin: 0;
	max-width: 100%;
	color: white;
	background-color: rgba(82, 34, 208, 0.7);
	letter-spacing: 2px;
	font-family: Montserrat;
	height: calc(100vh-72px);
	display: flex;
	flex-direction: column;
	@include media-mobile {
		min-height: calc(100vh - 68px);
	}
}

.info-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: auto;
}

.settings-wrapper {
	display: flex;
	justify-content: space-between;
}

.closing-icon,
.keyboard-icon,
.heart-icon {
	margin-top: 10px;
	width: 30px;
	height: 30px;
	filter: invert(100%) sepia(0%) saturate(7458%) hue-rotate(179deg) brightness(114%) contrast(93%);
}

.volume-up-icon,
.volume-mute-icon {
	margin-left: 2vw;
	margin-top: 10px;
	width: 30px;
	height: 30px;
	filter: invert(100%) sepia(0%) saturate(7458%) hue-rotate(179deg) brightness(114%) contrast(93%);
}

.volume-settings {
	visibility: hidden;

	&:hover {
		cursor: pointer;
	}
}

.volume-mute-icon {
	display: none;
}

.heart-icon {
	width: 25px;
	height: 25px;
}

.stone-icon {
	visibility: hidden;
	position: absolute;
	bottom: 60px;
	left: 48vw;
	animation: timing 1.5s infinite;
	animation-timing-function: ease-in-out;
	width: 60px;
	height: 60px;
	margin: 0 auto;
	filter: invert(16%) sepia(69%) saturate(5593%) hue-rotate(258deg) brightness(81%) contrast(103%);
}

@keyframes timing {
	50% {
		bottom: 10px;
		filter: invert(16%) sepia(69%) saturate(5593%) hue-rotate(258deg) brightness(500%) contrast(103%);
	}
}

.health-point-scale {
	display: flex;
	visibility: hidden;
}

.info {
	display: flex;
	margin-top: 30vh;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	&__main-info {
		width: 45vw;
		text-align: center;
		font-size: 20px;
	}
}

.starting-button {
	display: flex;
	width: 15vw;
	height: 60px;
	margin-top: 5vh;
	justify-content: center;
	align-items: center;
	background-color: $color-additional;
	border-radius: 5px;

	&:hover {
		cursor: pointer;
	}

	& p {
		font-size: 30px;
	}
}

.info__heading {
	font-size: 40px;
}

.hint {
	display: flex;
	flex-direction: column;
	visibility: hidden;
	justify-content: center;
	align-items: center;
}

.answers {
  display: flex;
  justify-content: center;
  align-items: center;

  & p {
    min-width: 15vw;
    max-width: 25vw;
    margin-left: 20px;
    margin-right: 20px;
    height: 40px;
    margin-left: 10px;
    text-align: center;
    font-size: 20px;
    width: fit-content;
  }
	@media (max-width: 900px){
    flex-direction: column;
		margin-top: 20px;
  }
}

.right-answer__active {
	background-color: rgba(82, 34, 208, 0.5);
	box-shadow: 0 -10px 15px 15px rgba(82, 34, 208, 0.5);
}

.wrong-answer__active {
	background-color: rgba(117, 43, 78, 0.5);
	box-shadow: 0 -10px 15px 15px rgba(117, 43, 78, 0.5);
}

.answers p:hover {
	cursor: pointer;
}

.main-word {
  position: absolute;
  width: 25vw;
  height: 50px;
  font-size: 25px;
  text-align: center;
  transition: font-size 1s, opacity 1s, margin-left 1s, width 1s;
}

.hint-wrapper {
	position: relative;
	flex-shrink: 0;
}
