$color-background: #FEFEFE;
$color-text-dark: #2F281E;
$color-text-light: #FFFFFF;
$color-primary: #EC615B;
$color-additional: #5222D0;
$color-border: #BCD0E5;
$color-overlay: #E5E5E5B3;
$color-game-overlay: rgba(236, 96, 91, 0.6);
$color-game-overlay-hov: rgba(236, 96, 91, 0.8);
$color-game-overlay-add: rgba(83, 34, 208, 0.6);
$color-game-overlay-add-hov: rgba(83, 34, 208, 0.8);
$color-success: #4CAF50;
$color-black-shadow: rgba(0, 0, 0, 0.25);

//desktop
$desctop-width: 1020px;

//tablet
$tablet-width: 768px;

//mobile
$mobile-big-width: 414px;
$mobile-small-width: 320px;
