$color-background: #FEFEFE;
$color-text-dark: #2F281E;
$color-text-light: #FFFFFF;
$color-primary: #EC615B;
$color-additional: #5222D0;
$color-border: #BCD0E5;
$color-overlay: #E5E5E5B3;

//desktop
$desctop-width: 1020px;

//tablet
$tablet-width: 768px;

//mobile
$mobile-big-width: 414px;
$mobile-small-width: 320px;
