@mixin font ($size, $height: $size, $weight: normal, $style: normal) {
    font-size: $size;
    font-style: $style;
    font-weight: $weight;
    line-height: $height;
}

@mixin bg-hex-game ($url) {
	background-image: url($url);
	background-size: auto 173px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

@mixin bg-cover ($url) {
    background-image: url($url);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

@mixin img-size ($width, $height: $width) {
    width: $width;
    height: $height;
}

@mixin media-laptop {
    @media (max-width: $content-width) {
        @content;
    }
}

@mixin media-desctop {
    @media (max-width: $desctop-width) {
        @content;
    }
}

@mixin media-tablet {
    @media (max-width: $tablet-width) {
        @content;
    }
}

@mixin media-mobile {
    @media (max-width: $mobile-big-width) {
        @content;
    }
}

@mixin media-mobilesmall {
    @media (max-width: $mobile-small-width) {
        @content;
    }
}
