%font-prim {
	font-family: sans-serif;
}

%transition {
	transition: all .3s ease-out;
}

%text-input {
	height: 30px;
	border: none;
	border-radius: 5px;
	box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 10px 20px rgba(0, 0, 0, 0.04);
	width: 100%;
	margin-bottom: 30px;

	&:focus {
		outline: none;
	}
}

%square-game-box {
	@include media-laptop {
		box-sizing: border-box;
		width: 220px;
		height: 220px;
		overflow: hidden;
		margin: 7px;
		border-radius: 5px;
		padding: 10px;
	}
}

%mobile-nav-hidden {
	display: none;
}

%mobile-nav-visible {
	display: block;
	position: absolute;
}
