.header {
    background: $color-background;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
		padding: 15px 0;
}

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
